*,
::after,
::before {
  box-sizing: border-box;
}
:root {
  --primary-text-color: #757575;
  --title-text-color: #000000;
  --accent-text-color: #2196f3;
  --primary-white-color: #ffffff;
  --secondary-background-color: #2f303a;
  --button-text-color: #212121;
  --primary-background-color: #e5e5e5;
}

body {
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  width: auto;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
p,
h1,
h2,
h3 {
  margin: 0;
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
.list {
  margin: 0;
  padding: 0;
}
/*логотип, меню навигации*/
.header {
  background-color: var(--primary-white-color);
  padding-top: 24px;
  padding-bottom: 25px;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.header-logo {
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  text-align: center;

  padding-right: 93px;
}
.web {
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: var(--accent-text-color);
}
.studio {
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.header-navigation {
  padding-top: 8px;
}
.head-link:not(:last-child) {
  padding-right: 50px;
}
.header-contacts {
  padding-left: 331px;
  padding-top: 8px;
}
.head-phone {
  padding-left: 50px;
}
.header-link {
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}
.header-contact {
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.contact-icon {
  margin-right: 10px;
  fill: currentColor;
}
.contact-icon :hover,
.contact-icon :focus {
  color: var(--accent-text-color);
}
.header-contacts :hover,
.header-contacts :focus {
  color: var(--accent-text-color);
}
.header-navigation .header-link :hover,
.header-navigation .header-link :focus {
  color: var(--accent-text-color);
}
/*банер и кнопка*/
.baner {
  padding-top: 200px;
  padding-bottom: 200px;
  background: var(--secondary-background-color);
  max-width: 1600px;
  max-height: 600px;
  margin-right: auto;
  margin-left: auto;
  background-image: linear-gradient( to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4) ), url('background.jpg');
  background-size: cover;
  background-position: center;
  outline: 1px solid teal;
}
  
.text-baner {
 text-align: center;
}
.baner-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  color: var(--primary-white-color);
  padding-bottom: 30px;
}
.baner-buttons {
  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;
  background: var(--accent-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--primary-white-color);
}
button :hover,
button :focus {
  color: var(--accent-text-color);
  background-color: var(--title-text-color);
}
/*текст приимущества*/
.text::before {
  display: block;
  content: "";
  height: 120px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 4px;
}
.icon-antena::before {
  background-image: url(../img/antenna.svg);
  background-size: 70px;
  padding-top: 28px;
  padding-bottom: 22px;
  padding-left: 89px;
  padding-right: 111px;
}
.icon-clock::before{
  background-image: url(../img/clock.svg);
  background-size: 70px;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 25px;
  padding-bottom: 22px;

}


.post-benefits {
  padding-top: 94px;
  padding-bottom: 94px;
}
.benefits {
  text-align: center;
}
.post-title {
  font-family: Roboto;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
  padding-bottom: 10px;
  padding-top: 33px;
}
.post-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.text {
  text-align: left;
}
.text:not(:last-child) {
  padding-right: 30px;
}
/*примеры рабоы*/
.our-work {
  padding-bottom: 94px;
}
.post-work {
  font-family: Roboto;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  padding-bottom: 50px;
}
.photo-work:not(:last-child) {
  padding-right: 30px;
}

/*команда*/
.our-team {
  background: #f5f4fa;
  margin-bottom: 6px;
  padding-bottom: 88px;
  padding-top: 94px;
}
.post-team {
  font-family: Roboto;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  padding-bottom: 50px;
}
.team-photo {
  justify-content: center;
}
.team {
  background: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
}
.team:not(:last-child) {
  margin-right: 30px;
}
.name {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  padding-top: 30px;
  padding-bottom: 10px;
}
.position {
  font-family: Roboto;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  padding-bottom: 30px;
}

/*футер навигация*/

.footer {
  background: var(--secondary-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-logo {
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  padding-bottom: 20px;
}
.footerstudio {
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
}
.footer-map {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  color: var(--primary-white-color);
  padding-bottom: 9px;
}

.footer-contacts {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.footer-contacts:not(:last-child) {
  padding-bottom: 9px;
}
address :focus,
address :hover {
  color: var(--accent-text-color);
}

/*страница портфолио*/
.portfolio-container {
  background-color: var(--primary-white-color);
  padding-bottom: 64px;
  padding-top: 94px;
}
.buttons-section :hover,
.buttons-section :focus {
  color: var(--primary-white-color);
  background-color: var(--accent-text-color);
}
.buttons-container {
  display: flex;
  justify-content: center;
  padding-bottom: 34px;
}
.buttons {
  display: inline-block;
  padding: 6px 22px;
  width: max-content;
  height: 38px;
  border-radius: 4px;
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--button-text-color);
  background-color: var(--primary-white-color);
  border-color: var(--primary-white-color);
  border-width: 0px;
}
.buttons-section:not(:last-child) {
  padding-right: 8px;
}
.name-project {
  font-family: Roboto;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
  text-align: left;
  padding-bottom: 4px;
}
.tipe-project {
  font-family: Roboto;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  text-align: left;
}
.project-one:not(:last-child),
.project-two:not(:last-child),
.project-thre:not(:last-child) {
  padding-right: 30px;
}
.project-one,
.project-two,
.project-thre {
  padding-bottom: 30px;
}
.project-diskription {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
  box-sizing: border-box;
}
