*,
::after,
::before {
  box-sizing: border-box;
}
:root {
  --primary-text-color: #757575;
  --title-text-color: #000000;
  --accent-text-color: #2196f3;
  --primary-white-color: #ffffff;
  --secondary-background-color: #2f303a;
  --button-text-color: #212121;
}
body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
.list {
  margin: 0;
  padding: 0;
}
/*логотип, меню навигации*/
.conteiner {
  margin-left: auto;
  margin-right: auto;
  width: 1170px;
  margin-bottom: 1px;
  height: 80px;
  text-align: center;
}
.header-logo {
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  text-align: center;
  margin-top: 24px;
  margin-right: 93px;
}
.header-navigation {
  margin-top: 18px;
}
.head-link {
  margin-right: 50px;
}
.head-mail {
  margin-top: 18px;
  margin-left: 331px;
  margin-right: 50px;
}
.head-phone {
  margin-top: 18px;
}
.nav-box {
  display: flex;
}
.web {
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: var(--accent-text-color);
}
.studio {
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.header {
  display: flex;
  background-color: var(--primary-white-color);
  height: 80px;
  width: 1600px;
  margin-bottom: 0pxpo;
}
.header-link {
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}
.header-contact {
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.header-contacts :hover,
.header-contacts :focus {
  color: var(--accent-text-color);
}
.header-navigation .header-link :hover,
.header-navigation .header-link :focus {
  color: var(--accent-text-color);
}
/*банер и кнопка*/
.baner {
  background-color: var(--secondary-background-color);
  width: 1600px;
  height: 600px;
  text-align: center;
  margin-bottom: 94px;
}
.baner-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  color: var(--primary-white-color);
  margin-top: 0px;
  margin-bottom: 30px;
  padding-top: 200px;
}
.baner-buttons {
  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;
  background: var(--accent-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--primary-white-color);
}
button :hover,
button :focus {
  color: var(--accent-text-color);
  background-color: var(--title-text-color);
}
/*текст приимущества*/

.post-benefits {
}
.benefits {
  text-align: left;
  width: 1170px;
  height: 101px;
  margin-left: 215px;
  margin-right: 215px;
  margin-top: 0px;
  margin-bottom: 94px;
}
.post-title {
  font-family: Roboto;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
  margin-bottom: 10px;
  margin-top: 0px;
}
.post-text {
  font-family: Roboto;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  margin-right: 30px;
  margin-top: 0px;
}
.post-text-text {
  font-family: Roboto;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  margin-top: 0px;
}

/*примеры рабоы*/
.our-work {
  width: 1170px;
  height: 386px;
  margin-left: 215px;
  margin-right: 215px;
  margin-top: 0px;
  margin-bottom: 182px;
  text-align: center;
}
.post-work {
  font-family: Roboto;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 50px;
  margin-top: 0px;
}
.photo-work {
  margin-right: 30px;
}
.work {
  padding: 0px;
  margin: 0px;
}

/*команда*/
.our-team {
  text-align: center;
  width: 1600px;
  height: 648px;
  margin-bottom: 6px;
}
.post-team {
  font-family: Roboto;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 50px;
  margin-top: 0px;
}
.photo-team {
  padding: 0px;
  margin: 0px;
}
.team-photo {
  width: 1170px;
  margin-left: 215px;
  margin-right: 215px;
  padding: 0px;
}
.team {
  width: 270px;
  height: 368px;
  background: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
  margin-right: 30px;
}
.name {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 10px;
}
.position {
  font-family: Roboto;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
}

/*футер навигация*/

.footer {
  box-sizing: border-box;
  width: 1600px;
  height: 252px;
  background: var(--secondary-background-color);
}
.logo-footer{
  margin-left: 215px;
  padding-top:  60px;
  margin-bottom: 20px;
}
.footerstudio {
  font-family: Raleway;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
}
.footer-map {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  color: var(--primary-white-color);
} 
.adres-map{
  margin-left: 215px;
  margin-bottom: 9px;
  margin-top: 0px;
}
.footer-contacts {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-left: 107px;
  margin-top: 0px;
  margin-bottom: 9px;
}
address :focus,
address :hover {
  color: var(--accent-text-color);
}

/*страница портфолио*/

.buttons-section :hover,
.buttons-section :focus {
  color: var(--primary-white-color);
  background-color: var(--accent-text-color);
}
.name-project {
  font-family: Roboto;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
  text-align: left;
}
.tipe-project {
  font-family: Roboto;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  text-align: left;
}
.portfolio-container{
  width: 1170px;
  height: 1360px;
  margin-left: 215px;
}
.buttons-container{
  display: flex;
  width: 611px;
  height: 54px;
  margin-left: 280px;
  padding: 0px;
  justify-content: center;
}
.buttons{
  display: inline-block;
  padding: 6px 22px;
  width: max-content;
  height: 38px;
  border-radius: 4px;
  margin-right: 8px;
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--button-text-color);
  background-color: var(--primary-white-color);
  border-color: var(--primary-white-color);
  border-width: 0px;
}
.portfolio{
  text-align: center;
  justify-content: center;
}

